@import "../../styles/variables";

.toolbar {
  height: $toolbar-height;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px gray;
}

.btn__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn__nav, .btn_tools {
  display: flex;
  justify-content: space-between;
}

.btn_tools {
  margin-left: 20px;
  min-width: 160px;
}

.btn__nav {
  margin-right: 20px;
  min-width: 100px;
}

.btn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  &__brush {
    background: url("../../assets/img/brush.png") no-repeat center center;
  }
  &__rect {
    background: url("../../assets/img/rect.png") no-repeat center center;
  }
  &__line {
    background: url("../../assets/img/line.png") no-repeat center center;
  }
  &__eraser {
    background: url("../../assets/img/eraser.png") no-repeat center center;
  }
  &__circle {
    background: url("../../assets/img/circle.png") no-repeat center center;
  }
  &__redo {
    background: url("../../assets/img/redo.png") no-repeat center center;
  }
  &__undo {
    background: url("../../assets/img/undo.png") no-repeat center center;
  }
  &__save {
    background: url("../../assets/img/save.png") no-repeat center center;
  }



}



