@import "src/styles/variables";

.setting-bar {
  margin-top: 7px;
  height: $toolbar-height;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px gray;
}